body{
	height: 1600px;
	border: 1px solid #111;
	background: #cca;
}
.button{
	border: 1px solid #000;
	text-align: right;
}
.a{
	width: 200px;
	height: 200px;
	background: #ccc;
}
.a1{
	width: 100px;
	height: 100px;
	background: #888;
	position: absolute;
	top: 25%;
	left: 25%;
}
#sunzi{
	width: 50px;
	height: 50px;
	background: #000;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
