body{
	background: #cca;
	text-align: justify;
}
p{
	width: 50%;
	border: 2px solid;
	margin: 2em;
}
div{
	background: #999;
}

#t01 span{
	line-height: 3em;
	background: #eee;
}
#t02 span{
	display: inline-block;
	line-height: 3em;
	background: #eee;
}
#t03 span{
	display: block;
	line-height: 3em;
	background: #eee;
}
.dib{
	display: inline-block;
	width: 100px;height: 200px;
}