/*基础的css*/
body{
	font-size: 100%;
	background: #000;
	color: #fff;
}
header{
	width: 100%;
}
nav{
	width: 85%;
	margin: 1em auto;
	padding: 1em;
	background: #222;
	font-size: 2em;
	border-radius: 1em;
}
nav li{
	position: relative;
	list-style: none;
	display: inline-block;
	width: 4em;
}
nav li a{
	position: relative;
	text-decoration: none;
	color: #888;
	padding: 0.2em;
}

/*光晕部分的css*/

nav li a:after{
	/*设置光晕的内容和大小*/
	content: "";
	width: 0;
	background: #888;
	height: 0.1em;
	/*居中显示*/
	margin-left: 50%;/*这里不能用margin:auto*/
	/*设置位置*/
	position: absolute;
	bottom: 0;
	left: 0;
	/*设置边框*/
	border-radius: 70%;
	/*设置过渡效果*/
	-webkit-transition: all 1.4s;/*设置所有动画效果*/
	-o-transition: all 1.4s;
	transition: all 1.4s;
}
/*设置鼠标悬浮效果*/
nav li a:hover:after{
	background: #fff;
	/*设定由中间向两边动态变化，即设定变化最终状态，将点移动到左边-10%位置，将终点放到右边10%位置*/
	margin-left: -10%;
	width: 120%;
	-webkit-box-shadow: -0px 0 15px #888;
	box-shadow: -0px 0 15px #888;
}
nav li a.selected:after{
	background: #fff;
	/*设定由中间向两边动态变化，即设定变化最终状态，将点移动到左边-10%位置，将终点放到右边10%位置*/
	margin-left: -10%;
	width: 120%;
	-webkit-box-shadow: -0px 0 15px #888;
	box-shadow: -0px 0 15px #888;
}
.desc{
	text-align: center;
	font-size: 3em;
}