body{
	background:#CFCFCF;
}
/*下面是时钟外框，我们设定里面的元素居中*/
#container{
  width: 200px;height: 200px;
  position: relative;
  background: #aaa;
  border: 1px solid #fff;
  border-radius: 100%;
}

/*.p设定为旋转点的位置，我们尽可能让他足够小，保证时针的旋转位置是同一位置。*/
.p{
  position: absolute;
  display: inline-block;
  left: 50%;top: 50%;
  width: 0.1px;height: 0.1px;
  float: left;
}

/*.l是三种时针的默认样式*/
.l{
  position: absolute;
  height: 100px;width: 4px;
  bottom: -10px;
  background: #000;
}
.ks>.l{
  width: 2px;
  background: #f00;
}
.km>.l{
  height: 80px;
  background: #00f;
}
.kh>.l{
  height: 50px;
  background: #ff0;
}
.p.ks{
  -webkit-animation: circles 60s linear infinite;
  -o-animation: circles 60s linear infinite;
  animation: circles 60s linear infinite;
}
.p.km{
  -webkit-animation: circlem 3600s linear infinite;
  -o-animation: circlem 3600s linear infinite;
  animation: circlem 3600s linear infinite;
}
.p.kh{
  -webkit-animation: circleh 432000s linear infinite;
  -o-animation: circleh 432000s linear infinite;
  animation: circleh 432000s linear infinite;
}

/*下面是中间的小圆点，只起美观效果，我们也把他居中*/
.c{
  position: absolute;
  left: 50%;top: 50%;
  transform:translate(-50%,-50%);
  width: 10px;height: 10px;
  background: #fff;
  border-radius: 100%;
}